*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    background: lightblue;
    padding:15px;
    text-align:center;
}

#hero{
    background: lightgray;
    padding:40px;
    text-align:center;
}

.course-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.course{
    border:2px solid black;
    padding:20px;
    margin:15px;
    width:200px;
    text-align:center;
}

.course > h3{
    color:blue;
}

h3 + p{
    color:gray;
}

.course:hover{
    background:lightblue;
}

button{
    padding:10px;
    border-radius:8px;
}

.course:first-child{
    background:lightgreen;
}

.course:last-child{
    background:lightpink;
}

footer{
    background:lightblue;
    text-align:center;
    padding:15px;
}