body{
    font-family:Arial;
}

header{
    background:lightblue;
    padding:15px;
    text-align:center;
}

.container{
    display:flex;
}

aside{
    width:20%;
    padding:15px;
}

.products{
    display:flex;
    flex-wrap:wrap;
}

.product-card{
    width:180px;
    padding:15px;
    margin:15px;
    border:2px solid black;
    box-shadow:2px 2px 5px gray;
    text-align:center;
}

.product-card img{
    width:100%;
}

input[type="checkbox"]{
    margin:5px;
}

.product-card:hover{
    transform:scale(1.05);
}

button{
    padding:8px;
}

button:hover{
    background:black;
    color:white;
}

.product-card:nth-child(even){
    background:#f2f2f2;
}

#cart{
    border-top:2px solid black;
    padding:15px;
}

footer{
    background:lightblue;
    text-align:center;
    padding:10px;
}